body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #121212 !important;
  color: #eee;
}

* {
  box-sizing: border-box;
}

a {
  color: #64b5f6;
  text-decoration: none;
}

button {
  font-family: 'Inter', sans-serif;
}

@keyframes blink {

  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
  }

  10%,
  30%,
  60%,
  90% {
    opacity: 1;
  }
}

.dots::after {
  content: '...';
  display: inline-block;
  margin-left: 3px;
  animation: blink 1.4s infinite;
}